<div class="rules-view">
  <div class="rules-view-container">

    <div class="rules-view-title">Règles du jeu</div>

    <div class="rules-view-subtitle">Principe du jeu</div>
    <div class="rules-view-text">
      Deux joueurs s'affrontent. Chacun d'eux possède des pions de couleurs différentes (noir ou blanc). Tour à tour les joueurs vont disposer des pions sur le plateau.<br><br>
      Le plateau est composé de carrés et de losanges coupés en leur milieu. On peut poser les pions sur les intersections. <br><br>

      <div class="rules-view-images">
        <img src="../../assets/rules/images/empty.png" alt="Board image" class="rules-view-image" />
        <img src="../../assets/rules/images/full.png" alt="Board image" class="rules-view-image" />
      </div>

      Le but du jeu est de réussir à réaliser une ligne ininterrompue de pions entre deux côtés du plateau. Le joueur blanc doit donc faire une ligne horizontale, tandis que le joueur noir doit faire une ligne verticale.<br><br>
    </div>

    <div class="rules-view-images">
      <img src="../../assets/rules/gifs/win.gif" alt="Board image" class="rules-view-image" />
    </div>

    <div class="rules-view-text">

      <i>Attention</i>, on ne peut pas poser de pion au centre d’un carré si l’un de ses coins est déjà occupé par un autre pion !

      <div class="rules-view-images">
        <img src="../../assets/rules/gifs/forbidden.gif" alt="Board image" class="rules-view-image" />
        <img src="../../assets/rules/gifs/allowed.gif" alt="Board image" class="rules-view-image" />
      </div>

    </div>

    <div class="rules-view-subtitle">Capture</div>
    <div class="rules-view-text">
      Si le centre d’un carré est inoccupé et qu’un joueur place un pion sur le dernier coin libre du carré alors qu'il a déjà disposé un pion sur le côté opposé, alors les deux pions adverses sont capturés (retirés du jeu).
    </div>

    <div class="rules-view-images">
      <img src="../../assets/rules/gifs/capture.gif" alt="Board image" class="rules-view-image" />
    </div>

    <div class="rules-view-text">
      Il est possible donc possible de capturer jusqu'à 4 pions d’un coup !
    </div>

  </div>

  <button (click)="accueil()">Retourner à l'accueil</button>

</div>
<button routerLink="/">Retourner à l'accueil</button>
