<div class="rules-view">
  <div class="rules-view-container">

    <div class="rules-view-title">Règles du jeu</div>

    <div class="rules-view-subtitle">Nombre de joueurs</div>
    <div class="rules-view-text">
      2 joueurs (associés à 2 couleurs de pions)
    </div>

    <div class="rules-view-subtitle">But du jeu</div>
    <div class="rules-view-text">
      Chaque joueur possède des pions de couleurs différentes (noir ou blanc).<br><br>

      Le but du jeu pour chaque joueur est de réussir à faire une ligne ininterrompue de pions entre les 2 côtés du plateau. Le joueur blanc doit faire une ligne entre le côté gauche et le côté droit, tandis que le joueur noir doit faire cette ligne entre le haut et le bas du plateau.<br><br>

      Note : les coins appartiennent aux 2 côtés qui les touchent.
    </div>

    <div class="rules-view-images">
      <img src="../../images/rules/board.PNG" alt="Board image" class="rules-view-image" />
    </div>

    <div class="rules-view-subtitle">Règles de placement des pions</div>
    <div class="rules-view-text">
      Le plateau est composé de carrés et de losanges. Chaque carré est coupé en son milieu par un losange. On peut poser les pions sur à peu près n’importe quelle intersection du plateau. Il s’agit soit des coins des carrés, soit de leur centre. <br><br>

      <i>Attention</i>, on ne peut pas poser de pion au centre d’un carré si l’un de ses coins est déjà occupé par un autre pion !
    </div>

    <div class="rules-view-subtitle">Règles de capture</div>
    <div class="rules-view-text">
      Si le centre d’un carré est inoccupé et qu’un joueur place un pion sur le dernier coin libre du carré, de façon à ce que la configuration soit telle que le montre la figure suivante, alors les deux pions adverses sont capturés.
    </div>

    <div class="rules-view-images">
      <img src="../../images/rules/board.PNG" alt="Capture 1" class="rules-view-image" />
    </div>

    <div class="rules-view-text">
      Il est possible de capture 4 pions d’un coup si le pion placé ferme de carré dans la même configuration :<br><br>
    </div>

    <div class="rules-view-images">
      <img src="../../images/rules/board.PNG" alt="Capture 2" class="rules-view-image" />
    </div>
  </div>
</div>
