<div *ngIf="gameFinished" class="accueil accueil-bloc accueil-bloc-buttons">
  <button (click)="accueil()">Retourner à l'accueil</button>
</div>
<h2 style="text-align: center;" id="ia_awaiting" *ngIf="!firstWaitAIIsDone">En attente de l'IA...</h2>
<h2 style="text-align: center;" id="turn" *ngIf="yourTurn && !gameFinished && firstWaitAIIsDone">C'est ton tour !</h2>
<h2 style="text-align: center;" id="notturn" *ngIf="!yourTurn && !gameFinished && firstWaitAIIsDone">C'est au tour de l'autre joueur</h2>
<h4 style="text-align: center;" id="message" >{{message}}</h4>
<div class="boardGame-container" id="boardContainer" >

</div>
