
body
{
  margin: 0;
  padding: 0;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  --boardColor1: #c6c9c7;
  --boardColor2: #909391;
  --borderColor: #444444;
  --stone1Color : white;
  --stone2Color : black;
  --stoneShadowColor : #00000040;
  --coordinatesColor : #c6c9c7;
}

h4
{
  color: var(--boardColor1);
}

.boardGame-container
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.board
{
  margin: 50px 0;
  width: 600px;
  height: 600px;
  background: var(--boardColor1);
  position: relative;
  display: flex;
}

.board-coord-bar
{
  margin-right: 6px;
  padding: 22px 0;
  box-sizing: border-box;
  height: 100%;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.board-coord-bar.horizontal
{
  flex-direction: row;
  position: absolute;
  top: -30px;
  left: 0;
  margin-right: 0;
  width: 600px;
  height: 30px;
  padding: 0 22px;
}
.board-coord-bar:last-child
{
  margin-right: 0;
  margin-left: 6px;
}
.board-coord-bar.horizontal:last-child
{
  bottom: -30px;
  top: auto;
}
.board-coord
{
  color: var(--coordinatesColor);
}
.board-coord-bar.horizontal .board-coord
{
  color: var(--coordinatesColor);
}

/* ------------------ */
/* -- Layers -------- */
/* ------------------ */
.board-layer
{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  padding: 25px 20px 20px 30px;
  box-sizing: border-box;
  z-index: 1;
}
.board-layer.fldc
{
  flex-direction: column;
  left: -6px;
  top: 6px;
}
.board-layer.color
{
  z-index: 0;
}
.board-layer.stone
{
  z-index: 3;
}

/* -------------------- */
/* -- Columns Layers -- */
/* -------------------- */
.board-column
{
  display: flex;
  flex-direction: column;
  margin-right: 48px;
}
.board-column:nth-child(2n)
{
  margin-top: 12px;
}
.board-verticalLine
{
  width: 1px;
  height: 50px;
  background: var(--borderColor);
  margin-bottom: -1px;
  flex-shrink: 0;
}
.board-verticalLine:nth-child(2n)
{
  transform: rotate(15deg);
}
.board-verticalLine:nth-child(2n+1)
{
  transform: rotate(-15deg);
}

/* -------------------- */
/* -- Rows Layers ----- */
/* -------------------- */
.board-row
{
  display: flex;
  margin-bottom: 48px;
}
.board-row:nth-child(2n)
{
  margin-left: 12px;
}
.board-horizonalLine
{
  width: 50px;
  height: 1px;
  background: var(--borderColor);
  margin-right: -1px;
  flex-shrink: 0;
}
.board-horizonalLine:nth-child(2n)
{
  transform: rotate(-15deg);
}
.board-horizonalLine:nth-child(2n+1)
{
  transform: rotate(15deg);
}

/* -------------------------- */
/* -- Diamond center layer -- */
/* -------------------------- */
.board-diamondCenter-row
{
  display: flex;
  margin-bottom: 48px;
  margin-left: 55px;
}
.board-diamondCenter-row.first
{
  margin-bottom: 25px;
  margin-left: 0;
}
.board-diamondCenter-row:nth-child(2n)
{
  margin-left: 6px;
}
.board-diamondCenter-line
{
  width: 50px;
  height: 1px;
  background: var(--borderColor);
  transform: rotate(-45deg);
  margin-right: 48px;
  flex-shrink: 0;
}
.board-diamondCenter-row:nth-child(2n+1) .board-diamondCenter-line
{
  width: 51px;
  margin-right: 47px;
  transform: rotate(46deg);
}


/* ------------------------- */
/* -- Square center layer -- */
/* ------------------------- */
.board-squareCenter-row
{
  display: flex;
  margin-top: 25px;
  margin-left: 45px;
  margin-bottom: 23px;
}
.board-squareCenter-row:nth-child(2n)
{
  margin-left: -3px;
  margin-bottom: 23px;
}
.board-squareCenter-line
{
  width: 70px;
  height: 1px;
  background: var(--borderColor);
  transform: rotate(30deg);
  flex-shrink: 0;
}
.board-squareCenter-line:nth-child(2n)
{
  margin-left: -71px;
  margin-right: 29px;
  transform: rotate(-60deg);
}
.board-squareCenter-row:nth-child(2n) .board-squareCenter-line
{
  transform: rotate(60deg);
}
.board-squareCenter-row:nth-child(2n) .board-squareCenter-line:nth-child(2n)
{
  transform: rotate(-30deg);
  margin-left: -72px;
  margin-right: 30px;
}


/* ------------------------ */
/* -- Square color layer -- */
/* ------------------------ */
.board-squareColor-row
{
  display: flex;
  margin-left: 55px;
  margin-bottom: -1px;
}
.board-squareColor-row:nth-child(2n)
{
  margin-left: 6px;
}
.board-squareColor-square
{
  width: 50px;
  height: 50px;
  background: var(--boardColor2);
  opacity: 1;
  transform: rotate(-15deg);
  margin-right: 48px;
  flex-shrink: 0;
}
.board-squareColor-row:nth-child(2n) .board-squareColor-square
{
  transform: rotate(15deg);
}


/* ------------------------ */
/* -- Stones layer -------- */
/* ------------------------ */
.boardGame-stones-row
{
  display: flex;
  margin-top: -15px;
  margin-left: -11px;
  margin-bottom: 8px;
}
.boardGame-stones-row.offset
{
  margin-left: 0;
  margin-bottom: 9px;
}
.boardGame-stones-row.squareCenter
{
  margin-left: 67px;
}
.boardGame-stones-row.squareCenter.no-offset
{
  margin-left: 18px;
}
.boardGame-stone
{
  height: 26px;
  width: 26px;
  position: relative;
  background: black;
  border-radius: 50%;
  margin-right: 23px;
  flex-shrink: 0;
  opacity: 0;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px var(--stoneShadowColor);
}

.boardGame-stone::after
{
  content: "";
  position: absolute;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  top: 3px;
  left: 3px;
  border: 2px double;
}
.boardGame-stone.active.color1
{
  background: var(--stone1Color) !important;
}
.boardGame-stone.active.color1::after
{
  border-color: var(--stone2Color);
}
.boardGame-stone.active.color2
{
  background: var(--stone2Color) !important;
}
.boardGame-stone.active.color2::after
{
  border-color: var(--stone1Color);
}
.boardGame-stone.active,
.boardGame-stone.active:hover
{
  opacity: 1;
  cursor: default;
}
.board-layer.stone.color1 .boardGame-stone
{
  background:  var(--stone1Color);
}
.boardGame-stone:nth-child(2n)
{
  margin-top: 10px;
}
.boardGame-stones-row.squareCenter .boardGame-stone
{
  margin-right: 72px;
}
.boardGame-stones-row.squareCenter .boardGame-stone:nth-child(2n)
{
  margin-top: 0;
}

.boardGame-stone:hover
{
  opacity: 0.5;
}
